doctype html
html
	head
		script(src='/socket.io/socket.io.js')
		script(src='public/js/qrcode.js')
		script(src='public/js/GetUrlParams.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js')

		title Thomas Ridings | A little about me

		meta(name='description', content='Thomas Ridings, My Work')
		meta(name='author', content='Thomas Ridings')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

		script(src='public/js/head.js')
		link(rel="stylesheet" href="public/css/reveal.css")
		link(rel="stylesheet" href="public/css/white.css")

	body
		.se-pre-con
		.reveal

			.slides
				section
					p
						strong
							a.orange [
							|  THOMAS RIDINGS 
							a.orange ]
						p
							|  my 
							strong.orange work
							|  so far 
							a.orange /
							
				section
					p
						strong
							a.orange [
							| CONNECT 
							a.orange ] 
						| let the 
						strong.orange story 
						| begin 
						a.orange /
					p
						small
							a Once upon a 
							a.orange time
						#qrcode

				section
					p
						strong
							a.orange [
							| ABOUT ME 
							a.orange ]
					p
						xsmall
							a
								| I am an engineer who enjoys building web stuff
								br
								| I work as a digital strategy consultant at PostShift
								br
								br
								| I play lacrosse, love cooking and spend as much time as I can in snow filled mountains.

				

				mixin job(title, description, logoSrc)
					section
						p
						strong
							a.orange [
							| WORK 
							a.orange ]
							|  #{title}
							a.orange  /
						p
						img.plain.logo(src='#{logoSrc}')
						p
						small
							strong Description 
							a.orange  / 
						xsmall
							| #{description}
						xsmall.orange
							br

				mixin project(title, description, duration, logoSrc)
					section
						img.plain.logo(src='#{logoSrc}')
						p
							a #{title}
							br
							xsmall #{duration}
							xsmall
								| #{description}

				mixin cv(href)
					p
						small also available in pdf
						|  
						a(href='#{href}')
							small.orange click here
				
				if (jobcontent)
					each job in jobcontent
						section
							+job(job.getText('job.Role'), job.getText('job.description'), job.getImage('job.image').url)
							
							each project in projectcontent
								- var tags = project.tags
								each tag in tags
									if tag == job.getText('job.label')
										+project(project.getText('project.Role'), project.getText('project.description'), project.getText('project.duration'), project.getImage('project.logo').url)
				section
					p
						strong
							a.orange [
							|  EDUCATION 
							a.orange ]
							| University of Warwick
							a.orange  /
					p
						small
							|General Engineering
							a.orange  & 
							| Business Management (MEng)<br>
							xsmall 2008 - 2012<br>
								| 3
								sup rd
								|  Year Dissertation,Modelling Wireless Relay Networks through Composite Channels
								a.orange  : 
								| 1
								sup st
								|  Class
								br
								| 4
								sup th
								|  Year Dissertation, Multi-Scale Modelling of the Pulmonary Airways
								a.orange  : 
								| 1
								sup st
								|  Class
								br
					p
						xsmall
							strong Awards 
							a.orange  / 
							br
							| University of Warwick 
							a.orange Sportsman
							|  of the Year 2010
							br
							| University of Warwick Olympic 
							a.orange Ambassador
							|  2011 - 2012
				
				section(style='text-align: left;')
					h1 THE END
					if (cvcontent)
						if (cvurl)
							+cv(cvurl)

		script(src='public/js/head.min.js')
		script(src='public/js/reveal.js')
		script(src='public/js/footer.js')